.gantt {
  --border-color: var(--el-border-color);
  --bar-color: var(--el-color-primary-light-3);
  --link-color: var(--el-color-primary-light-3);
  --drag-rect-border-color: var(--el-color-primary-light-3)
}